/*
Setup DBAAdmin database
*/
CREATE DATABASE [DBAAdmin]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBAAdmin', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\DBAAdmin.mdf' , SIZE = 10240KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DBAAdmin_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\DBAAdmin_log.ldf' , SIZE = 2048KB , FILEGROWTH = 10%)
GO
USE [DBAAdmin]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [DBAAdmin] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO

